#flash_cont

#form-edit-availability.hide{title: "Edit Availability"}
  .popup-contents
    %p Set selected date's availability to

.basic_form.panel
  %h3 Filters
  .panel_contents
    %form#availability_search.filter_form{ "accept-charset" => "UTF-8", action: "#", method: "get" }
      .filter_form_field.filter_date_range
        = hidden_field_tag :space_id, @space.id
        = select_tag(:set_to_available, options_for_select([['Add', 1], ['Remove', 0]], selected: :option ))
        availability between #{text_field_tag :start, nil, id: "date_start"}
        and #{text_field_tag :end, nil, id: "date_end"}
        #{submit_tag "Update calendar"}

#calendar{"data-space-id" => @space.id}