// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

@import "fullcalendar-2.0.0-beta2/fullcalendar/fullcalendar";

#calendar, .basic_form {
  max-width: 900px;
  margin: 40px auto;
  
  .fc-day { background: green; }
  
  .space-unavailable {
    background: none !important;
  }

  .fc-event {
    display: none;
  }
}

.basic_form fieldset ol li {
  float: left;
  max-width: 200px;
}

.ui-datepicker{
  z-index: 9999 !important;
  width: 165px;
  .ui-datepicker-month { margin-top: -5px; }
}

#form-edit-availability {
  min-height: 0 !important;
  
  .popup-contents {
    padding: 20px 20px 0 20px;
  }
}

.ui-dialog {
  .ui-dialog-titlebar { position: relative; }
  .ui-dialog-titlebar-close {
    display: block;
    position: absolute;
    top: 0; right: 0;
  }
}


#flash_msgs {
  .msg { padding: 10px; }
  p { margin: 0; }
  .alert-notice { background: #dce9dd; }
  .alert-error { background: #f5e4e4; }
}
  
