// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main { max-width: 600px; padding: 20px; margin: 40px auto; text-align: center; }